[Unit]
Description=A service to say hello
After=systemd-user-sessions.service

[Service]
Type=simple
ExecStart=/home/<username>/hello-service.py

[Install]
WantedBy=multi-user.target